<app-menu></app-menu>
<app-buttons></app-buttons>

<div class="container-fluid p-0" style="text-align: center;">
    <div class="col-12 img-room-one">
        <img src="/assets/images/contact.jpg" alt="" class="img-fluid">
    </div>
</div>

<h1><b>HABITACIONES</b></h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12 img-room">
                    <img src="/assets/images/room3.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-6"
            style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
            <h3><b>TOBALA SUITE</b></h3>
            <p>
                Elegante habitación que cuenta con dos camas matrimoniales
                y otro agradable espacio de sala-comedor y cocina para hacer una estancia mas placentera, asi como
                sofa cama.
            </p>
            <br>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-wifi"></i>WiFi
                        </li>
                        
                        <li>
                            <i class="fas fa-coffee"></i>Cafetera   
                        </li>
                        <li>
                            <i class="fas fa-tv"></i>SmartTV de 55"
                        </li>
                        <li>
                            <i class="far fa-square"></i>Espejo de Vanidad
                        </li>
                        <li>
                            <i class="fas fa-bed"></i>Dos camas matrimoniales
                        </li>
                        
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-utensils"></i> Comedor
                        </li>
                        <!-- <li>
                            <i class="fas fa-lock"></i>Caja de Seguridad
                        </li> -->
                        
                        <li>
                            <i class="far fa-square"></i>Espejo de Vanidad
                        </li>
                        <li>
                            <i class="fas fa-couch"></i>Sala
                        </li>

                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado ( Frio / Caliente )
                        </li>
                        
                        <!-- <li>
                            <i class="fas fa-wind"></i>Secador de Cabello
                        </li> -->
                        <!--  <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado
                        </li> -->
                        <!-- <li>
                            <i class="fas fa-tshirt"></i>Plancha y Burro
                        </li> -->
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="d-flex justify-content-center align-items-center">
                <button><b>RESERVAR</b></button>
            </div>
            <div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container-sm" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12 img-room">
                    <img src="/assets/images/room4.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-6"
            style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
            <h3><b>ARROQUEÑO SUITE</b></h3>
            <p>
                Esta hermosa suite decorada con artesanías de la localidad, cuenta con dos confortables camas
                matrimoniales, y una pequeña hermosa terraza privada.
                <br><br>
                Un amplio espacio de sala-comedor y cocina para hacer una estancia más placentera, así como sofá
                cama.
            </p>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-wifi"></i>WiFi
                        </li>
                        <li>
                            <i class="fas fa-couch"></i>Sala
                        </li>
                        <li>
                            <i class="fas fa-tv"></i>SmartTV de 55"
                        </li>
                        <li>
                            <i class="fas fa-coffee"></i>Cafetera   
                        </li>
                        <li>
                            <i class="fas fa-bed"></i>Dos camas matrimoniales
                        </li>
                        

                        <!-- <li>
                            <i class="fas fa-lock"></i>Caja de Seguridad
                        </li> -->
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        
                        <li>
                            <i class="fas fa-utensils"></i> Comedor
                        </li>
                        <li>
                            <i class="far fa-square"></i>Espejo de Vanidad
                        </li>
                        <li>
                            <i class="fas fa-umbrella-beach"></i>Terraza privada
                        </li>
                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado ( Frio / Caliente )
                        </li>
                        
                        <!-- <li>
                            <i class="far fa-square"></i>Espejo
                        </li>
                        <li>
                            <i class="fas fa-wind"></i>Secador de Cabello
                        </li>
                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado
                        </li>
                        <li>
                            <i class="fas fa-tshirt"></i>Plancha y Burro
                        </li> -->
                    </ul>
                </div>
            </div>
            
            <div class="d-flex justify-content-center align-items-center">
                <button><b>RESERVAR</b></button>
            </div>
            <div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container-sm" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12 img-room">
                    <img src="/assets/images/room2.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-6"
            style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
            <h3>
                <b>COYOTE SUITE</b>
            </h3>
            <p>
                Esta exclusiva suite cuenta con una cama king size, pequeña terraza en habitación, además de
                estancia para sala (con sofá cama), comedor y cocineta, y también bellos jardines interiores.
            </p>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-wifi"></i>WiFi
                        </li>
                        <li>
                            <i class="fas fa-bed"></i>Cama King size
                        </li>
                        <li>
                            <i class="fas fa-umbrella-beach"></i>Terraza privada
                        </li>
                        <li>
                            <i class="fas fa-tv"></i>SmartTV de 55"
                        </li>
                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado ( Frio / Caliente )
                        </li>
                        


                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-couch"></i>Sala
                        </li>
                        <li>
                            <i class="fas fa-utensils"></i>Comedor
                        </li>
                        <!--  <li>
                            <i class="fas fa-leaf"></i>Jardin interior
                        </li> -->
                        <!-- <li>
                            <i class="fas fa-lock"></i>Caja de Seguridad
                        </li> -->
                        <li>
                            <i class="far fa-square"></i>Espejo de Vanidad
                        </li>
                        <li>
                            <i class="fas fa-coffee"></i>Cafetera   
                        </li>
                        <!-- <li>
                            <i class="far fa-square"></i>Espejo
                        </li>
                        <li>
                            <i class="fas fa-wind"></i>Secador de Cabello
                        </li>
                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado
                        </li>
                        <li>
                            <i class="fas fa-tshirt"></i>Plancha y Burro
                        </li> -->
                    </ul>
                </div>
            </div>
            <br><br><br>
            <div class="d-flex justify-content-center align-items-center">
                <button><b>RESERVAR</b></button>
            </div>
            <div>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="container-sm" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12 img-room">
                    <img src="/assets/images/room3.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-6"
            style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
            <h3>
                <b>CUISH SUITE</b>
            </h3>
            <p>
                Esta suite cuenta con una cama king size más un área de sala comedor y cocina insuperable, y una muy
                amplia terraza para el disfrute del sol, una copa de vino, un buen libro, ver las hermosas montañas
                de Oaxaca, o simplemente ver pasar a las personas.
                <br><br>
                Esta habitación puede unirse con la habitación Espadín Doble Superior y lograr un espacio mucho más
                amplio para que toda la familia disfrute de unas maravillosas vacaciones.
            </p>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-wifi"></i>WiFi
                        </li>
                        <li>
                            <i class="fas fa-bed"></i>Cama King size
                        </li>
                        <li>
                            <i class="fas fa-coffee"></i>Cafetera   
                        </li>
                       
                        
                        <li>
                            <i class="fas fa-tv"></i>SmartTV de 55"
                        </li>
                       <!--  <li>
                            <i class="fas fa-lock"></i>Caja de Seguridad
                        </li> -->
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-utensils"></i> Comedor
                        </li>
                        <li>
                            <i class="far fa-square"></i>Espejo de Vanidad
                        </li>
                        <!-- <li>
                            <i class="fas fa-wind"></i>Secador de Cabello
                        </li> -->
                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado ( Frio / Caliente )
                        </li>
                        
                        <!-- <li>
                            <i class="fas fa-tshirt"></i>Plancha y Burro
                        </li> -->
                    </ul>
                </div>
            </div>
            <br>    
            <div class="d-flex justify-content-center align-items-center">
                <button><b>RESERVAR</b></button>
            </div>
            <div>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container-sm" style="margin-top: 80px;">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12 img-room">
                    <img src="/assets/images/room4.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-md-6"
            style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
            <h3>
                <b>ESPADIN DOBLE SUPERIOR</b>
            </h3>
            <p>
                Esta habitación doble superior cuenta con dos camas matrimoniales, un amplísimo baño y una amplia y
                bella terraza privada.
            </p>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <i class="fas fa-coffee"></i>Cafetera   
                        </li>
                        <li>
                            <i class="fas fa-wifi"></i>WiFi
                        </li>
                        
                        <li>
                            <i class="fas fa-umbrella-beach"></i>Terraza privada
                        </li>
                        <li>
                            <i class="fas fa-bed"></i>Dos camas matrimoniales
                        </li>
                        
                        <!-- <li>
                            <i class="fas fa-lock"></i>Caja de Seguridad
                        </li> -->
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>
                            <i class="far fa-square"></i>Espejo de Vanidad
                        </li>
                        <li>
                            <i class="fas fa-shower"></i> Baño amplio
                        </li>
                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado ( Frio / Caliente )
                        </li>
                       <!--  <li>
                            <i class="fas fa-wind"></i>Secador de Cabello
                        </li>
                        <li>
                            <i class="far fa-snowflake"></i>Aire Acondicionado
                        </li>
                        <li>
                            <i class="fas fa-tshirt"></i>Plancha y Burro
                        </li> -->
                    </ul>
                </div>
            </div>
            <br><br><br><br>
            <div class="d-flex justify-content-center align-items-center">
                <button><b>RESERVAR</b></button>
            </div>
            <div>
                <br>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<app-footer></app-footer>