h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: xx-large;
  color: #25B35E;
}

h3 {
  margin-top: 30px;
  font-size: x-large;
  color: #25B35E;
  margin-left: 25px;

}

i {
  margin-right: 10px;
  color: #20c9b4;
  margin-bottom: 12px;
}

ul {
  margin-top: 0px;
  list-style-type: none;
  color: #20c9b4;
}

.spacing-custom {
  border-top: 40px;
}

.card-custom {
  border: 1px solid black;
  margin-top: -40px;
  width: 800px;
  background-color: #bf9090 !important;
  position: relative;
}

button{
  text-align:center;
  color: #20c9b4;
  width: 150px;
  height: 40px;
  border: 1px solid #20c9b4;
}

p{
  font-size: 15px;
  line-height: 27px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
}

@media (max-width: 767px) {
  .img-room-one img {
    width: 500px;
    height: 200px;
    object-fit: cover; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img-room img {
    width: 1200px;
    height: 350px;
    object-fit: cover;
  }
}

