<app-menu></app-menu>

<!-- Botones Reservar, whatsApp, telfono-->
<div class=" fixed-button" style="text-align: right;">
    <button class="btn-reservar"> RESERVAR </button>
</div>

<div class="fixed-button-reservation" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 25px;" class="far fa-paper-plane"></i>
    </div> 
</div>

<div class="fixed-button-whatsapp" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 30px;" class="fab fa-whatsapp"></i>
    </div> 
</div>

<div class="fixed-button-phone" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 28px;" class="fas fa-phone-alt"></i>
    </div> 
</div>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <img src="/assets/images/contact.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <h1><b>HABITACIONES</b></h1>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">

                <div class="row">
                    <div class="col-12 img-room">
                        <img src="/assets/images/room2.jpg" alt="" class="img-fluid">
                    </div>
                </div>

            </div>

            <div class="col-md-6"
                style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
                <h3>TOBALA SUITE</h3>
                <p>


                    Elegante habitación que cuenta con dos camas matrimoniales
                    y otro agradable espacio de sala-comedor y cocina para hacer una estancia mas placentera, asi como
                    sofa cama.
                </p>
                <br>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <i class="fas fa-wifi"></i>WiFi
                            </li>
                            <li>
                                <i class="fas fa-bed"></i>Cama Queen o King size
                            </li>
                            <li>
                                <i class="fas fa-tv"></i>TV
                            </li>
                            <li>
                                <i class="fas fa-lock"></i>Caja de Seguridad
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>
                                <i class="far fa-square"></i>Espejo
                            </li>
                            <li>
                                <i class="fas fa-wind"></i>Secador de Cabello
                            </li>
                            <li>
                                <i class="far fa-snowflake"></i>Aire Acondicionado
                            </li>
                            <li>
                                <i class="fas fa-tshirt"></i>Plancha y Burro
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="container-sm" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">

                <div class="row">
                    <div class="col-12 img-room">
                        <img src="/assets/images/room3.jpg" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="col-md-6"
                style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
                <h3>ARROQUEÑO SUITE</h3>
                <p>
                    Esta hermosa suite decorada con artesanías de la localidad, cuenta con dos confortables camas
                    matrimoniales, y una pequeña hermosa terraza privada.
                    <br><br>
                    Un amplio espacio de sala-comedor y cocina para hacer una estancia más placentera, así como sofá
                    cama.

                </p>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <i class="fas fa-wifi"></i>WiFi
                            </li>
                            <li>
                                <i class="fas fa-bed"></i>Cama Queen o King size
                            </li>
                            <li>
                                <i class="fas fa-tv"></i>TV
                            </li>
                            <li>
                                <i class="fas fa-lock"></i>Caja de Seguridad
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>
                                <i class="far fa-square"></i>Espejo
                            </li>
                            <li>
                                <i class="fas fa-wind"></i>Secador de Cabello
                            </li>
                            <li>
                                <i class="far fa-snowflake"></i>Aire Acondicionado
                            </li>
                            <li>
                                <i class="fas fa-tshirt"></i>Plancha y Burro
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="container-sm" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">

                <div class="row">
                    <div class="col-12 img-room">
                        <img src="/assets/images/room4.jpg" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="col-md-6"
                style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
                <h3>
                    COYOTE SUITE
                </h3>
                <p>
                    Esta exclusiva suite cuenta con una cama king size, pequeña terraza en habitación, además de
                    estancia para sala (con sofá cama), comedor y cocineta, y también bellos jardines interiores.
                </p>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <i class="fas fa-wifi"></i>WiFi
                            </li>
                            <li>
                                <i class="fas fa-bed"></i>Cama Queen o King size
                            </li>
                            <li>
                                <i class="fas fa-tv"></i>TV
                            </li>
                            <li>
                                <i class="fas fa-lock"></i>Caja de Seguridad
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>
                                <i class="far fa-square"></i>Espejo
                            </li>
                            <li>
                                <i class="fas fa-wind"></i>Secador de Cabello
                            </li>
                            <li>
                                <i class="far fa-snowflake"></i>Aire Acondicionado
                            </li>
                            <li>
                                <i class="fas fa-tshirt"></i>Plancha y Burro
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <div class="container-sm" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">

                <div class="row">
                    <div class="col-12 img-room">
                        <img src="/assets/images/room4.jpg" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="col-md-6"
                style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
                <h3>

                    CUISH SUITE

                </h3>
                <p>
                    Esta suite cuenta con una cama king size más un área de sala comedor y cocina insuperable, y una muy
                    amplia terraza para el disfrute del sol, una copa de vino, un buen libro, ver las hermosas montañas
                    de Oaxaca, o simplemente ver pasar a las personas.
                    <br><br>
                    Esta habitación puede unirse con la habitación Espadín Doble Superior y lograr un espacio mucho más
                    amplio para que toda la familia disfrute de unas maravillosas vacaciones.
                </p>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <i class="fas fa-wifi"></i>WiFi
                            </li>
                            <li>
                                <i class="fas fa-bed"></i>Cama Queen o King size
                            </li>
                            <li>
                                <i class="fas fa-tv"></i>TV
                            </li>
                            <li>
                                <i class="fas fa-lock"></i>Caja de Seguridad
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>
                                <i class="far fa-square"></i>Espejo
                            </li>
                            <li>
                                <i class="fas fa-wind"></i>Secador de Cabello
                            </li>
                            <li>
                                <i class="far fa-snowflake"></i>Aire Acondicionado
                            </li>
                            <li>
                                <i class="fas fa-tshirt"></i>Plancha y Burro
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="container-sm" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">

                <div class="row">
                    <div class="col-12 img-room">
                        <img src="/assets/images/room4.jpg" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
            <div class="col-md-6"
                style="border: 1px solid rgb(210, 210, 210);  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);">
                <h3>
                    ESPADIN DOBLE SUPERIOR
                </h3>
                <p>
                    Esta habitación doble superior cuenta con dos camas matrimoniales, un amplísimo baño y una amplia y bella terraza privada.
                </p>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <i class="fas fa-wifi"></i>WiFi
                            </li>
                            <li>
                                <i class="fas fa-bed"></i>Cama Queen o King size
                            </li>
                            <li>
                                <i class="fas fa-tv"></i>TV
                            </li>
                            <li>
                                <i class="fas fa-lock"></i>Caja de Seguridad
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>
                                <i class="far fa-square"></i>Espejo
                            </li>
                            <li>
                                <i class="fas fa-wind"></i>Secador de Cabello
                            </li>
                            <li>
                                <i class="far fa-snowflake"></i>Aire Acondicionado
                            </li>
                            <li>
                                <i class="fas fa-tshirt"></i>Plancha y Burro
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <br><br><br>
 <app-footer></app-footer>
