h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: xx-large;
  color: #f41010;
}

h3 {
  margin-top: 30px;
  font-size: x-large;
  color: #f41010;
}

i {
  margin-right: 10px;
  color: #f41010;
  margin-bottom: 12px;
}

ul {
  margin-top: 0px;
  list-style-type: none;
  color: #f41010;
}

.spacing-custom {
  border-top: 40px;
}

.card-custom {
  border: 1px solid black;
  margin-top: -40px;
  width: 800px;
  background-color: #bf9090 !important;
  position: relative;
}

button{
  text-align:center;
  color: #f41010;
  width: 150px;
  height: 40px;
  border: 1px solid #f41010;
}

