<footer>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <b>Tel:</b> 99516153773 <br><br>
                <b>Email:</b> info@puntaagave.com <br><br>
                <b> © 2023 Hotel Punta Agave</b>. <br> Todos los derechos reservados.
            </div>
            <div class="col-md-4">
                <b>Web:</b> www.puntaagave.com
                <br>
                <br>
                Políticas del hotel
                <br><br>
                Aviso de privacidad
                <br><br>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <i class="fab fa-facebook-square i-social-media"></i>
                <i class="fab fa-instagram i-social-media"></i>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                 Mejores hoteles en
                Oaxaca | Mejor hotel Oaxaca | Hoteles 5 estrellas en Oaxaca | Hoteles de lujo en Oaxaca | Los mejores
                hoteles en Oaxaca | Hoteles bonitos en Oaxaca | Mejores hoteles en Oaxaca | Hotel en Oaxaca de
                Juárez | Hospedaje en Oaxaca | Hotel en Oaxaca
            </div>
        </div>
    </div>
    <br><br>
</footer>