*{
  font-size: 16px;
}
footer {
  background-color: #25B35E;
  color: white;
}

.i-social-media {
  color: white;
  font-size: 50px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
