<app-menu></app-menu>
<app-buttons></app-buttons>


<div class="container-fluid p-0">
    <div class="col-12 img-room">
        <img src="/assets/images/blog.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>     
                </mat-card-header>
                <img mat-card-image src="assets/images/jalatlalco.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Barrio  De Jalatlaco 
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>                 
                </mat-card-header>
                <img mat-card-image src="/assets/images/xochimilco.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Barrio De Xochimilco.
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>                  
                </mat-card-header>
                <img mat-card-image src="/assets/images/zocalo.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Zócalo De La Ciudad
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>                
                </mat-card-header>
                <img mat-card-image src="/assets/images/mercado.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Mercado Benito Juárez
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>             
                </mat-card-header>
                <img mat-card-image src="/assets/images/artesanias.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Casa De Artesanías
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>               
                </mat-card-header>
                <img mat-card-image src="/assets/images/museo.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    Museos
                  </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
    </div>
</div>
<br>

<div class="container d-flex justify-content-center align-items-center">   
    <button routerLink="/blog" class="btn-pagination">1</button>
    <button class="btn-pagination-current">2</button>
    <!-- <button class="btn-pagination">3</button>
    <button class="btn-pagination">4</button>
    <button class="btn-pagination">5</button>
    <button class="btn-pagination">6</button>   -->
</div>
<br>
<br>
<app-footer></app-footer>