
<nav class="navbar dark-mode" role="navigation" style="text-align: center;">
    <div class="navbar__logo">Logo</div>
    <ul class="navbar__links">
      <li class="navbar__link first"><a href="#">INICIO</a></li>
      <li class="navbar__link second"><a href="#section2">HABITACIONES</a></li>
      <li class="navbar__link third"><a href="#">CONOCENOS</a></li>
      <li class="navbar__link four"><a href="#">PROMOCIONES</a></li>
      <li class="navbar__link fifth"><a href="#">CONTACTO</a></li>
      <li class="navbar__link fifth"><a href="#">BLOG</a></li>
    </ul>
  
    <button class="burger">
      <span class="bar"></span>
    </button>
  </nav>

  