h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: xx-large;
  color: #f41010;
}

.info {
  text-align: center;
}

.button-custom {
  background-color: #f41010;
  color: white;
  width: 100px;
  margin-bottom: 20px;
}

/* Start: Google Maps Responsive */
.map-responsive {
  overflow: hidden;
  padding-bottom: 400px; /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* End: Google Maps Responsive */

@media (max-width: 767px) {
  .img-room img {
    width: 600px;
    height: 350px;
    object-fit: cover; /* Recorta la imagen manteniendo su relación de aspecto */
  }
}

i {
  margin-right: 10px;
  color: #947261;
  margin-bottom: 15px;
  font-size: 25px;
}
