h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: xx-large;
  color: #25B35E;
}

.info {
  text-align: center;
}

.button-custom {
  background-color: #20c9b4;
  color: white;
  width: 100px;
  margin-bottom: 20px;
}

/* Start: Google Maps Responsive */
.map-responsive {
  overflow: hidden;
  padding-bottom: 400px;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* End: Google Maps Responsive */

@media (max-width: 767px) {
  .img-room img {
    width: 500px;
    height: 200px;
    object-fit: cover; /* Recorta la imagen manteniendo su relación de aspecto */
  }
}

i {
  margin-right: 10px;
  color: #947261;
  margin-bottom: 15px;
  font-size: 25px;
}

label{
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}