<header>
    <nav>
        <ul class='nav-bar'>
            <li class='logo'><a href='#'><img src='' /></a></li>
            <input type='checkbox' id='check' />
            <span class="menu">
                <li routerLink=""><a>INICIO</a></li>
                <li routerLink="/bedrooms"><a>HABITACIONES</a></li>
                <li routerLink="/known"><a>CONÓCENOS</a></li>
                <li routerLink="/promotions"><a>PROMOCIONES</a></li>
                <li routerLink="/contact"><a>CONTACTO</a></li>
                <li routerLink="/blog"><a>BLOG</a></li>

                <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
            </span>
            <label for="check" class="open-menu"><i class="fas fa-bars" style="color: black;"></i></label>
        </ul>
    </nav>
</header>