.form-promotions {
  border: 1px solid #20c9b4;
  height: 150px;
}

input {
  margin-left: 10px;
}

.spacing-custom {
  height: 40px;
}

.button-custom {
  background-color: #20c9b4;
  color: white;
}

@media (max-width: 767px) {
  .img-room img {
    width: 500px;
    height: 200px;
    object-fit: cover; /* Recorta la imagen manteniendo su relación de aspecto */
  }
}

i {
  margin-right: 10px;
  color: #947261;
  margin-bottom: 15px;
  font-size: 25px;
}
