<app-menu></app-menu>


<!-- Botones Reservar, whatsApp, telfono-->
<div class=" fixed-button" style="text-align: right;">
    <button class="btn-reservar"> RESERVAR </button>
</div>

<div class="fixed-button-reservation" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px;" class="far fa-paper-plane"></i>
    </div> 
</div>

<div class="fixed-button-whatsapp" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 30px;" class="fab fa-whatsapp"></i>
    </div> 
</div>

<div class="fixed-button-phone" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 28px;" class="fas fa-phone-alt"></i>
    </div> 
</div>
    
    <div class="container-fluid p-0">
        <div class="col-12 img-room">
            <img src="/assets/images/promotion.jpg" alt="" class="img-fluid">
        </div>
    </div>

    <div class="spacing-custom">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="margin-top: 30px">
                <img src="/assets/images/promotion1.jpg" alt="" class="img-fluid">
            </div>
    
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="margin-top: 30px">
                <img src="/assets/images/promotion1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    
    <div class="spacing-custom">

    </div>

    <div class="container">
        <div class="row form-promotions d-flex justify-content-center align-items-center">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <label for="">Entrada</label>
                <input class="form-control" type="date">
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <label for="">Salida</label>&nbsp;&nbsp;&nbsp;
                <input class="form-control" type="date">
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <button class="button-custom form-control">RESERVAR</button>
            </div>
        </div>
    </div>

    <div class="spacing-custom">

    </div>

    <footer>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    Tel: 951 351 1564 – 951 351 5917 <br><br>

                    Email: reservaciones@hotelelcallejon.com <br><br>

                    © 2020 Hotel El Callejón. Todos los derechos reservados.
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    COVID-19
                    <br>
                    <br>


                    POLÍTICAS DEL HOTEL
                    <br><br>
                    AVISO DE PRIVACIDAD
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <i class="fab fa-facebook-square i-social-media"></i><i class="fab fa-instagram i-social-media"></i>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col" style="text-align: center;">
                    Hotel boutique en Oaxaca | Hotel boutique Oaxaca | Hoteles boutique en Oaxaca | Mejores hoteles en
                    Oaxaca | Mejor hotel Oaxaca | Hoteles 5 estrellas en Oaxaca | Hoteles de lujo en Oaxaca | Los
                    mejores
                    hoteles en Oaxaca | Hoteles bonitos en Oaxaca | Mejores hoteles boutique en Oaxaca | Hotel en Oaxaca
                    de
                    Juárez | Hospedaje en Oaxaca | Hotel en Oaxaca
                </div>
            </div>
            <br><br>
        </div>

    </footer>