<!-- Botones Reservar Desktop-->
<div class=" fixed-button slide-left" style="text-align: right;">
    <button class="btn-reservar"> RESERVAR </button>
</div>
<!-- Botones Reservar mobil, tablet-->
<div class="fixed-button-reservation slide-top " style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px;" class="far fa-paper-plane"></i>
    </div>
</div>
<!-- Botones Reservar whatsApp-->
<div class="fixed-button-whatsapp slide-top " style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 30px;" class="fab fa-whatsapp"></i>
    </div>
</div>
<!-- Botones Reservar whatsApp-->
<div class="fixed-button-phone slide-top " style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 28px;" class="fas fa-phone-alt"></i>
    </div>
</div>