.btn-reservar {
    width: 130px;
    height: 35px;
    background-color: #ff5e00 !important;
    color: white;
    border: none;
    box-shadow: rgba(177, 177, 177, 0.12) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.7) 0px 2px 16px 0px;
  }
  
  .fixed-button {
    position: fixed !important;
    bottom: 400px; /* Ajusta la posición vertical según tus necesidades */
    right: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
  }
  
  .fixed-button-whatsapp {
    position: fixed !important;
    bottom: 70px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
    text-align: left;
  }
  
  .fixed-button-reservation {
    position: fixed !important;
    width: 57px;
    height: 57px;
    bottom: 210px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
    color: white !important;
    background-color: #ff5e00;
    text-align: left;
    border-radius: 5px;
  }
  
  .fixed-button-whatsapp{
    position: fixed !important;
    width: 57px;
    height: 57px;
    bottom: 140px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
    color: white !important;
    background-color: #25d366;
    text-align: left;
    border-radius: 5px;
  }
  
  .fixed-button-phone {
    position: fixed !important;
    width: 57px;
    height: 57px;
    bottom: 70px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
    color: white !important;
    background-color: #25d366;
    text-align: left;
    border-radius: 5px; 
  }
  
  @media (max-width: 768px) {
    .fixed-button {
      display: none
    }
  }
  
  @media screen and (min-width: 1024px) {
    .fixed-button-reservation  {
      display: none
    }
  }
  i {
    margin-right: 10px;
    color: #947261;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  