<app-menu></app-menu>
<app-buttons></app-buttons>

<div class="container-fluid p-0" style="text-align: center;">
    <div class="col-12 img-room">
        <img src="/assets/images/known.jpg" alt="" class="img-fluid">
    </div>
</div>

<h1><b>CONOCENOS</b></h1>

<div class="container" style="text-align: justify;">
    <p>

        Vive Oaxaca desde la mejor ubicación, confort y lujo en nuestras hermosas suites <b>Punta Agave</b>, edificada con
        materiales orgánicos de la región como piedra con fósiles de hace millones de años, muros adosados en ladrillo
        de barro, decoración con barro negro, verde, textiles y loza típica de nuestra localidad hecha por manos de
        artesanos oaxaqueños, estamos localizados en la zona dorada de Oaxaca, muy cerca del jardín Conzatti y la
        emblemática cruz de piedra, lugar de partida de muchas calendas y eventos culturales de la ciudad.
        <br><br>

        También podrás disfrutar de la iglesia más hermosa de la ciudad; el templo de Santo Domingo de Guzmán, donde
        innumerables parejas de todo el mundo vienen a casarse, a un costado se encuentra el museo de Santo Domingo con
        piezas únicas del tesoro de Monte Albán, y el jardín etnobotánico, sede de eventos emblemáticos el cual alberga
        vegetación endémica.

    </p>
</div>

<br><br>

<div class="container-fluid p-0" style="text-align: center;">
    <div class="col-12 img-room">
        <img src="/assets/images/known1.jpg" alt="" class="img-fluid">
    </div>
</div>

<h1>
    <b>NUESTRA ESENCIA</b>
</h1>

<div class="container" style="text-align: justify;">
    <p>
        Nuestra visión es la integración de Suites Punta Agave en la vida económica, cultural y artística de nuestra ciudad, por ello nuestros huéspedes podrán apreciar y disfrutar de lo que manos oaxaqueñas elaboran con los diferentes materiales y técnicas ancestrales de la región, desde tapetes teñidos con tintes naturales fabricados en Teotitlán del Valle, utensilios cocidos con hornos de leña de poblaciones como Atzompa o San Bartolo Coyotepec, repujados, bordados del Istmo, Santo Tomás Jalietza, la región de la Cañada, Costa, Mixteca, Sierra o alguna de las 8 regiones que conforman el estado.

        <br><br>
        Queremos ser los mejores anfitriones; si estás interesado en conocer estas rutas, permítenos acompañarte. Oaxaca es famosa también por su vasta y exquisita gastronomía. Podrás hacer tortillas en los tradicionales comales, usar los metates para la molienda de chocolate, en alguna de las clases de cocina con cocineras tradicionales o chef de renombre. Puedes colaborar en la reforestación de árboles de copal, madera que se utiliza para la elaboración de alebrijes, entre muchas más experiencias inolvidables.
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li><i class="fas fa-leaf"></i>Separamos lo orgánico y generamos composta.</li>
                <li><i class="fas fa-recycle"></i> Separamos aluminio, vidrio y PET.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li><i class="fas fa-cloud-rain"></i>Capturamos agua de lluvia para uso humano.</li>
                <li><i class="fas fa-water"></i>Filtramos las aguas grises para regar nuestros jardines.</li>
            </ul>
        </div>
    </div>
</div>

<br><br>

<app-footer></app-footer>