h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: xx-large;
  color: #f41010;
}

i {
  margin-right: 10px;
  color: #947261;
  margin-bottom: 15px;
  font-size: 25px;
}

ul {
  margin-top: 30px;
  list-style-type: none;
  color: #f41010;
}
.text-decription {
  margin-left: 200px !important;
  margin-right: 200px !important;
  text-align: justify;
  margin-bottom: 50px;
}

p {
  margin-left: 32px;
  margin-right: 32px;
}
@media (max-width: 767px) {
  .img-room img {
    width: 600px;
    height: 500px;
    object-fit: cover; /* Recorta la imagen manteniendo su relación de aspecto */
  }
}
