.btn-pagination {
  height: 45px;
  width: 45px;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #25b35e;
}

.btn-pagination-current {
  height: 45px;
  width: 45px;
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid #20c9b4;
  background-color: #20c9b4;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: xx-large;
  color: #25b35e;
}
@media (max-width: 767px) {
  .img-room img {
    width: 600px;
    height: 125px;
    object-fit: cover; /* Recorta la imagen manteniendo su relación de aspecto */
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .img-room img {
    width: 1200px;
    height: 125px;
    object-fit: cover;
  }
}
h2 {
  color: white;
  margin-left: 7%;
  font-size: 40px;
  margin-top: -80px;
}

p {
  text-align: center;
  font-size: 15px;
}
