footer {
    background-color: #f41010;
    color: white;
  }
  
  .i-social-media {
    color: white;
  }
  
  .btn-reservar {
    width: 130px;
    height: 35px;
    background-color: #ff5e00 !important;
    color: white;
    border: none;
    box-shadow: rgba(177, 177, 177, 0.12) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.7) 0px 2px 16px 0px;
  }
  
  .fixed-button {
    position: fixed !important;
    bottom: 400px; /* Ajusta la posición vertical según tus necesidades */
    right: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
  }
  
  .fixed-button-whatsapp {
    position: fixed !important;
    bottom: 70px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
    text-align: left;
  }
  
  .fixed-button-whatsapp i {
    font-size: 64px;
    height: 52px;
    color: #25d366;
  }
  