<app-menu></app-menu>
<app-buttons></app-buttons>

<div class="container-fluid p-0" style="text-align: center;">
  <div class="col-12 img-room">
    <img src="/assets/images/blog.jpg" alt="" class="img-fluid">
  </div>
</div>



<div>
  <h2>Blog</h2>
</div>
<br><br>

<h1><b>LUGARES CERCANOS</b></h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 p-2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="assets/images/AndadorTuristico.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Andador Turístico
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-md-4 p-2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="/assets/images/cruz de piedra.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Cruz De Piedra
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-md-4 p-2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="/assets/images/canzatti.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Jardín Conzzati
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 p-2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="/assets/images/jadin.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Jardín El Llano
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-md-4 p-2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="/assets/images/santo domingo.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Iglesia De Santo Domingo
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
      </mat-card>
    </div>
    <div class="col-md-4 p-2">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="/assets/images/jardinetbotanico.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Jardín Etnobotánico
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
      </mat-card>
    </div>
  </div>
</div>
<br>


<div class="container d-flex justify-content-center align-items-center">
  <button class="btn-pagination-current">1</button>
  <button routerLink="/blogone" class="btn-pagination">2</button>
  <!-- <button class="btn-pagination">3</button>
        <button class="btn-pagination">4</button>
        <button class="btn-pagination">5</button>
        <button class="btn-pagination">6</button>   -->
</div>
<br>
<br>

<app-footer></app-footer>