<app-menu></app-menu>
<!-- Botones Reservar, whatsApp, telfono-->
<div class=" fixed-button" style="text-align: right;">
    <button class="btn-reservar"> RESERVAR </button>
</div>

<div class="fixed-button-reservation" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px;" class="far fa-paper-plane"></i>
    </div>
</div>

<div class="fixed-button-whatsapp" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 30px;" class="fab fa-whatsapp"></i>
    </div>
</div>

<div class="fixed-button-phone" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 28px;" class="fas fa-phone-alt"></i>
    </div>
</div>
<div class="container-fluid">
    <div class="col-12 img-room">
        <img src="/assets/images/blog.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>     
                </mat-card-header>
                <img mat-card-image src="assets/images/AndadorTuristico.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>                 
                </mat-card-header>
                <img mat-card-image src="/assets/images/cruz de piedra.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>                  
                </mat-card-header>
                <img mat-card-image src="/assets/images/canzatti.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>                
                </mat-card-header>
                <img mat-card-image src="/assets/images/jadin.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>             
                </mat-card-header>
                <img mat-card-image src="/assets/images/santo domingo.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-md-4 p-2">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>               
                </mat-card-header>
                <img mat-card-image src="/assets/images/jardinetbotanico.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>

  

<app-footer></app-footer>