<app-menu></app-menu>
<!-- Botones Reservar, whatsApp, telfono-->
<div class=" fixed-button" style="text-align: right;">
    <button class="btn-reservar"> RESERVAR </button>
</div>

<div class="fixed-button-reservation" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px;" class="far fa-paper-plane"></i>
    </div>
</div>

<div class="fixed-button-whatsapp" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 30px;" class="fab fa-whatsapp"></i>
    </div>
</div>

<div class="fixed-button-phone" style="text-align: left;">
    <div class="d-flex justify-content-center align-items-center">
        <i style="color: white; margin-left: 10px; margin-top: 15px; font-size: 28px;" class="fas fa-phone-alt"></i>
    </div>
</div>
<div class="container-fluid">
    <div class="col-12 img-room">
        <img src="/assets/images/blog.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-0">
            <div class="card-custom">
                <div class="container">
                <img src="/assets/images/AndadorTuristico.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-custom">
                <div class="container">
                <img src="/assets/images/AndadorTuristico.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-custom">
                <div class="container">
                <img src="/assets/images/AndadorTuristico.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>