
h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: xx-large;
    color: #f41010;
  }
  
  i {
    margin-right: 10px;
    color: #947261;
    margin-bottom: 15px;
    font-size: 25px;
  }
  
  ul {
    list-style-type: none;
    color: #947261;
  }
  
  .card-custom {
    border: 1px solid rgb(255, 255, 255);
    background-color: #ffffff !important;
    position: relative;
  
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(82, 82, 82, 0.7) 0px 2px 16px 0px;
  }
  
  .btn-room {
    border: #f41010 2px solid !important;
    border-radius: 3px !important;
    height: 50px;
    width: 200px;
    color: #f41010;
  }
  .text-decription {
    margin-left: 40px !important;
    margin-right: 40px !important;
    text-align: justify;
    font-family: "Noto Sans Bamum", sans-serif;
  
  }
  
  footer {
    background-color: #f41010;
    color: white;
  }
  
  .i-social-media {
    color: white;
  }
  
  @media (max-width: 767px) {
    .img-room img {
      width: 600px;
      height: 500px;
      object-fit: cover; /* Recorta la imagen manteniendo su relación de aspecto */
    }
  }
  
  
  
  
  .btn-reservar{
    width: 130px;
    height: 35px;
    background-color: #ff5e00 !important;
    color: white;
    border: none;
    box-shadow: rgba(177, 177, 177, 0.12) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.7) 0px 2px 16px 0px;
  }
  
  .fixed-button {
    position: fixed !important;
    bottom: 400px; /* Ajusta la posición vertical según tus necesidades */
    right: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
  }
  
  .fixed-button-whatsapp{
    position: fixed !important;
    bottom: 70px; /* Ajusta la posición vertical según tus necesidades */
    left: 20px; /* Ajusta la posición horizontal según tus necesidades */
    z-index: 9999;
    text-align: left;
    
  }
  
  
  .fixed-button-whatsapp i{
    font-size: 64px;
    height: 52px;
    color: #25D366;
  }
  