<app-menu></app-menu>
<app-buttons></app-buttons>
<div class="container-fluid p-0" style="text-align: center;">
    <div class="col-12">
        <img src="/assets/images/room1.jpg" alt="" class="img-fluid">
    </div>
</div>

<!--    <h1>
    SOMOS EL MEJOR HOTEL
</h1>
-->
<h1>
    <b>SERVICIOS</b>
</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <ul style="text-align: left;">
                <li>
                    <i class="fas fa-utensils"></i> &nbsp;&nbsp;Servicio de alimentos
                </li>
                <li>
                    <i class="fas fa-wifi"></i>WiFi
                </li>
                <li>
                    <i class="fas fa-lock"></i>&nbsp;&nbsp;Caja de Seguridad
                </li>
                <li>
                    <i class="far fa-square"></i>&nbsp;&nbsp;Espejo
                </li>
                <li>
                    <i class="far fa-snowflake"></i>&nbsp;&nbsp;Aire Acondicionado
                </li>


            </ul>
        </div>
        <div class="col-sm-4">
            <ul style="text-align: left;">
                <li>
                    <i class="fas fa-umbrella-beach"></i>Terraza
                </li>
                <li>
                    <i class="fas fa-tshirt"></i>Plancha y Burro
                </li>
                <li>
                    <i class="fas fa-parking"></i>&nbsp;&nbsp;&nbsp;Estacionamiento
                </li>
                <li>
                    <i class="fas fa-bed"></i>&nbsp;Ropa de cama
                </li>
                <li>
                    <i class="fas fa-wind"></i>&nbsp;&nbsp;Secador de Cabello
                </li>


            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li>
                    <i class="fas fa-broom"></i>Limpieza diaria
                </li>
                <li>
                    <i class="fas fa-soap"></i>&nbsp;&nbsp;Lavanderia
                </li>
                <li>
                    <i class="fas fa-tshirt"></i>&nbsp;Plancha y Burro
                </li>
                <li>
                    <i class="fas fa-beer"></i>&nbsp;&nbsp;&nbsp;Restaurant Bar
                </li>
                <li>
                    <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;Personal capacitado en ingles
                </li>
            </ul>
        </div>
    </div>
</div>

<br><br>





<!--Primer container-->
<div class="container-fluid p-0">
    <div class="col-12 img-room">
        <img src="/assets/images/room5.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="container-fluid" style="margin-top: -40px; position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">

            </div>
            <div class="col-md-7 card-custom">
                <div>
                    <h1>HABITACIONES</h1>
                    <div class="text-decription">
                        Contamos con 12 espaciosas habitaciones distribuidas en 4 torres. El color de nuestros muros
                        exteriores es de pintura de adobe, el mismo con el cual se construían las viviendas
                        anteriormente y que todavía se puede apreciar en algunos rincones de este bello lugar.
                        <br><br>
                        Disfruta de una agradable vista desde los balcones o goza de una convivencia en las
                        terrazas.
                        Sea lo que prefieras, encontrarás en nuestras habitaciones la calidad, buen gusto y
                        comodidad
                        que nos distingue.
                    </div>

                    <br><br><br>
                    <div style="text-align: center;">
                        <button class="btn-room" style="text-align: center;">HABITACIONES</button>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Segundo container-->

<div class="container-fluid p-0" style="margin-top: -40px;">
    <div class="col-12 img-room ">
        <img src="/assets/images/room6.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="container-fluid" style="margin-top: -40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 card-custom">
                <div>
                    <h1>HOTEL ECOFRIENDLY
                    </h1>
                    <div class="text-decription">
                        El Callejón, el mejor hotel boutique en Oaxaca, fue concebido como parte del medio ambiente,
                        es
                        por eso por lo que en nuestra operación llevamos a cabo actividades de reutilización y
                        reciclaje.
                        <br><br>

                        Las instalaciones del hotel boutique Oaxaca cuentan con un sistema de captación y filtración
                        de
                        lluvia para consumo humano y en nuestros jardines utilizamos aguas grises.
                        <br><br>
                        Nuestros desechos orgánicos son convertidos en composta y nuestro staff obtiene un ingreso
                        adicional gracias a la venta de botellas, latas y demás reciclables. Todo esto nos destaca
                        de
                        otros hoteles boutique en Oaxaca, al ser la única opción ecofriendly.
                    </div>

                    <br><br><br>
                    <div style="text-align: center;">
                        <button class="btn-room" style="text-align: center;">NUESTRA ESTANCIA</button>
                        <br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

</div>

<!--Tercer container-->

<div class="container-fluid p-0" style="margin-top: -40px;">
    <div class="col-12 img-room">
        <img src="/assets/images/room7.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="container-fluid" style="margin-top: -40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 card-custom">
                <div>
                    <h1>NUESTRO BAR Y COCINA</h1>
                    <div class="text-decription">
                        Contamos con 12 espaciosas habitaciones distribuidas en 4 torres. El color de nuestros muros
                        exteriores es de pintura de adobe, el mismo con el cual se construían las viviendas
                        anteriormente y que todavía se puede apreciar en algunos rincones de este bello lugar.
                        <br><br>
                        Disfruta de una agradable vista desde los balcones o goza de una convivencia en las
                        terrazas.
                        Sea lo que prefieras, encontrarás en nuestras habitaciones la calidad, buen gusto y
                        comodidad
                        que nos distingue.
                    </div>

                    <br><br><br>
                    <div style="text-align: center;">
                        <button class="btn-room" style="text-align: center;">HABITACIONES</button>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<br><br><br>
<!-- 
<h1>LO QUE OPINAN NUSTROS HUESPEDES</h1> -->
<app-footer></app-footer>

